ul li a {
	color:#808080;
}

h2 {
	text-align: center;
	text-decoration: underline;
}

.contactus {
	text-align: center;
}

.describe {
	text-align: center;
}

.imgbanner {
	width: 100%;
	max-width: 1140px;
	display:block;
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.valleylogo {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.img-fluid {
	max-width: 100%;
	height: auto;
	padding-left: 40px;
	padding-right: 40px;
}

.contact-p {
	max-width: 100%;
	padding-left: 40px;
	padding-right: 40px;
}

.dropdown-menu {
	width: 100%;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.main-article-title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.centered-button {
	text-align: center;
}

.main-article-body {
	text-align: center;
}

html { 
  overflow-y: scroll; 
}

.nav>li>a {
    padding: 15px 15px;
}

.contact-title {
	max-width: 100%;
	padding-left: 40px;
	padding-right: 40px;

}
.contact-call-us{
	max-width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	color: #6ba8b2;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	text-align: center;
}

.navbar {
	margin-bottom: 10px;
}

.valleylogo {
	padding-top: 50px;
}

@media (max-width: 991px) {
    .valleylogo {
      padding:0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}