ul li a {
	color:#808080;
}

.imgbanner {
	width: 100%;
}

.valleylogo {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.img-fluid {
	max-width: 100%;
	height: auto;
	padding-left: 40px;
	padding-right: 40px;
}

.contact-p {
	max-width: 100%;
	padding-left: 40px;
	padding-right: 40px;
}